name: CI/CD Static Website

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.5

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init & Apply
        working-directory: terraform
        run: |
          terraform init
          terraform apply -auto-approve

      - name: Get EC2 Public IP
        id: ip
        working-directory: terraform
        run: |
          echo "EC2_IP=$(terraform output -raw public_ip)" >> $GITHUB_ENV

      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible

      - name: Create dynamic inventory
        run: |
          echo "[web]" > ansible/inventory.ini
          echo "${{ env.EC2_IP }} ansible_user=ubuntu ansible_ssh_private_key_file=private_key.pem" >> ansible/inventory.ini

      - name: Save private key
        run: echo "${{ secrets.EC2_SSH_KEY }}" > private_key.pem && chmod 600 private_key.pem

      - name: Run Ansible Playbook
        run: ansible-playbook -i ansible/inventory.ini ansible/install_docker.yml
